$background: #fff;
$button-color: #074ee8;
$input-inner: #f0f8ff;
$border-color: #ccc;

$mute-color: #888;

$white-500: #ebebeb;
$white-400: #eaeaea;
$white-300: #f4f4f4;
$white-200: #f2f2f2;
$white-100: #ffffff;

$border-color: #ccc;
$button-color: #007bff;
$scrollbar-thumb-color: #888;
$scrollbar-border-color: #fff;
$scrollbar-thumb-hover-color: #555;
$scrollbar-track-color: #f1f1f1;
$hover-color: #f9f9f9;

$small: 400px;
$medium: 720px;

$border-radius: 8px;
